:root {
  /* Sizes */
  --global-font-size: 16px;
  --global-container-max-w: 1320px;
  --global-base-gap: 0.5rem; /* 8px */
  --global-base-margin: 0.5rem; /* 8px */
  --global-base-padding: 0.5rem; /* 8px */
  /* Columns */
  --global-column-count: 12;
  /* Colors */
  --color-primary: #09b851;
  --color-secondary: #f8f8f8;
  --color-title: #202124;
  --color-title-opacity: #292a2d;
  --color-text: #363d47;
}
