* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: var(--general-font-size);
}

nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

/*Colors*/
.green {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.black {
  background-color: var(--color-title);
  color: var(--color-secondary);
}

.white {
  background-color: var(--color-secondary);
}

.black-white {
  background: linear-gradient(to bottom, white 70%, var(--color-title) 70%);
}

.text-color {
  color: #c4c5c7;
}
.input-container {
  border: 0.5px solid black;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.input-container input {
  border: none;
  width: 100%;
}

.input-container button {
  width: 150px;
}

.images-loop-items {
  width: calc(100% / 5);
  padding: 1rem 2rem;
  filter: grayscale(100%);
}

.image-container-one img {
  height: 80%;
  width: 300px;
  border-radius: 20px;
}

.image-container-two img {
  height: 80%;
  width: 300px;
  border-radius: 20px;
}

.box {
  width: 35%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h3 {
  font-weight: 600;
}

.card h3:hover {
  color: var(--color-primary);
  transition: ease-in 0.5s;
}

.card p {
  color: #c4c5c7;
  font-weight: 300;
}

.card a {
  color: var(--color-primary);
}

.border {
  border-right: 0.5px solid var(--color-text);
}

/* Quick links
About us
Contact us
Career 2 Job
Career detail
Become a partner
Sign in
Sign up
Community
Documents
Supports 
Faqs
Privacy Policy
News and blogs
Terms & condition
App available on

app-store
Follow on
     */
